* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans;
}

/* regole header */
header {
    background-color: white;
    height: 100px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
#logo {
    width: 80px;
}

/* regole nav */
.nav {
    display: flex;
    gap: 15px;

}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: black;
    padding: 5px 10px;
}

.nav li a:hover {
    padding-bottom: 40px;
    color: rgb(0, 110, 255);
    border-bottom: 5px solid rgb(0, 110, 255);
}

/* REGOLE MAIN */

main {
    display: flex;
    flex-direction: column;
}

/* GEESTIONE PRIMA SEZIONE */
#container-content {
    background-color: rgb(28, 28, 28);
    height: 130px;
}

#container-content div {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

#container-content div p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/* GESTIONE SECONDA CARD */
#container-cards {
    background-color: rgb(47, 131, 233);
    height: 150px;
}

#col {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;

}

.card {
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
}

.imgCard {
    width: 40px;
    margin-right: 16px;
}

.imgLocator {
    width: 30px;
    margin-right: 16px;
}