* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: open sans;
}

/* regole header */
header {
    background-color: white;
    height: 100px;
}

.container {
    width: 75%;
    margin: 0 auto;
}

.row {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* LOGO */
#logo {
    width: 70px;
}

/* regole nav */
.nav {
    display: flex;
    gap: 15px;

}

.nav li {
    list-style: none;
}

.nav li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    color: black;
    padding: 5px 10px;
}

.nav li a:hover {
    color: rgb(0, 110, 255);

}

.nav li a.active {
    border-bottom: 5px solid rgb(0, 110, 255);
    padding-bottom: 36px;
}

/* REGOLE MAIN */
main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px - 400px);
}

/* GEESTIONE PRIMA SEZIONE */
#container-content {
    background-color: rgb(28, 28, 28);
    height: 45%;
}

#container-content div {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
}

#container-content div p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

/* GESTIONE SECONDA SECTION */
#container-cards {
    background-color: rgb(47, 131, 233);
    height: 55%;
}

#col {
    width: 75%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.card {
    font-size: 12px;
    color: white;
    display: flex;
    align-items: center;
}

.imgCard {
    width: 40px;
    margin-right: 16px;
}

.imgLocator {
    width: 30px;
    margin-right: 16px;
}

/* GESTIONE FOOTER */

/* PRIMO FOOTER  */
#first-footer {
    background-image: url('./public/img/dc-logo-bg.png'), url('./assets/img/footer-bg.jpg');
    background-repeat: no-repeat, no-repeat;
    background-position: center right 240px, center top;
    background-size: 450px, cover;
    height: 300px;
}

#logo-bg {
    width: 380px;
    position: absolute;
    position: fixed;
    right: 300px;
    bottom: 20px;
}

#container-footer1 {
    width: 75%;
    margin: 0 auto;
    padding-top: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

h4 {
    color: white;
    font-weight: bold;
    margin-bottom: 7px;
    margin-top: 15px;
}

#container-footer1 li {
    list-style: none;
    line-height: 15px;
}

#container-footer1 a {
    text-decoration: none;
    color: gray;
    font-size: 11px;
}

#container-footer1 a:hover {
    color: rgb(47, 131, 233);
}

/* SECONDO FOOTER */
#second-footer {
    height: 100px;
    background-color: rgb(51, 51, 51);
}

#last-footer {
    width: 75%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#last-footer button {
    font-weight: bold;
    color: white;
    padding: 10px;
    border: 2px solid rgb(47, 131, 233);
    background-color: rgb(51, 51, 51);
}

#last-footer button:hover {
    background-color: gray;
    border: 1px solid rgb(47, 131, 233);
}

#social-container {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 16px;
}

h6 {
    font-size: 17px;
    color: rgb(47, 131, 233);
    margin-right: 10px;
}

.social {
    width: 30px;
}

.social:hover {
    background-color: white;
    border-radius: 15px;
    border: 1px solid white;
}